$body-bg: #f9f9f9;

$text-color: #575757;

$link-color: #0090d9;
$color-primary: #696db5;
$color-danger: #D64933;

$sidebar-bg: #333;
$sidebar-link-color: rgba(#fff, 0.5);
$sidebar-link-color-active: rgba(#fff, 0.95);

$main-padding: 2.5rem;

$text-muted: lighten($text-color, 30%)
